.add-task-action,
.icon-positioner {
    height: 100%;
}
.add-task-action .icon-positioner {
    opacity: .1;
    font-size: 16px;
    display: none;
    justify-content: center;
    align-items: center;

}
body:not(.react-draggable-transparent-selection) .add-task-action:hover .icon-positioner {
    display: flex;
}
