.app {
    --primary: #2196F3;
    --primary-dark: #0d89ec;
    --primary-light: #a6d5fa;

    --secondary: #607D8B;
    --secondary-dark: #56717d;
    --secondary-light: #beccd2;

    --success: #689F38;
    --success-dark: #5e8f32;
    --success-light: #c2e0a8;

    --info: #0288D1;
    --info-dark: #027abc;
    --info-light: #89d4fe;

    --warning: #FBC02D;
    --warning-dark: #fab710;
    --warning-light: #fde6ab;

    --help: #9C27B0;
    --help-dark: #8c239e;
    --help-light: #df9eea;

    --danger: #D32F2F;
    --danger-dark: #c02929;
    --danger-light: #edacac;
}
.app.theme-light {
    --dark: #404040;
    --light: #fff;

    --dialogue-bg: var(--light);
    --visual-grid-bg: #f2f2f2;
    --field-light-bg: #f2f2f2;
    --field-dark-bg: #e5e5e5;
    --task-bg: var(--light);
    --task-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.25) inset;
    --task-action-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.25) inset;
    --task-action-hover-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25) inset;
    --floating-grid-item-bg: rgba(0, 0, 0, 0);
    --floating-grid-item-box-shadow: 0px 0px 0px 5px var(--primary);
    --task-name-bg: rgba(0,0,0,0.1);
    --task-name-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}
.app.theme-dark {
    --dark: rgba(0, 0, 0, 0.75);
    --light: #fff;

    --dialogue-bg: var(--light);
    --visual-grid-bg: rgba(44, 40, 40, 0.05);
    --field-light-bg: rgba(255, 255, 255, 0);
    --field-dark-bg: rgba(0, 0, 0, 0.05);
    --task-bg: var(--light);
    --task-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.25) inset;
    --task-action-box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.25) inset;
    --task-action-hover-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25) inset;
    --floating-grid-item-bg: rgba(0, 0, 0, 0);
    --floating-grid-item-box-shadow: 0px 0px 0px 5px var(--primary);
    --task-name-bg: rgba(0,0,0,0.1);
    --task-name-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}