.input {
    border :1px solid var(--secondary-light);
    border-radius: calc(var(--border-radius) / 2);
    padding: 0.25rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
}
.input.responsive {
    width: 100%;
}
.input:hover {
    border-color: var(--primary);
}
.input:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--primary-light);
    border-color: var(--primary);
}
