.choice-wrapper {
    position: static;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--material-shadow-wide);
    width: 96px;
    height: 96px;
    background: rgba(255, 255, 255, 0.75);
    color: var(--grey);
    transition: transform 100ms ease-in-out;
    z-index: 100;
    pointer-events: all;
}
.choice-wrapper:hover {
    color: var(--primary);
    cursor: pointer;
    transform: scale(1.1);
}
.choice-wrapper:hover .type-wrapper {
    font-weight: 700;
}
.choice-wrapper .type-wrapper {
    color: white;
    position: absolute;
    margin-bottom: 128px;
}
