.task-grid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.task-grid {
    pointer-events: none;
}
.react-grid-item {
    pointer-events: all;
}
.react-grid-item.react-grid-placeholder {
    border-radius: 4px;
    background: var(--floating-grid-item-bg);
    opacity: 0.5;
    box-shadow: var(--floating-grid-item-box-shadow);
}
