.task-widget .task-widget-name {
    background: var(--task-name-bg);
    box-shadow: var(--task-name-box-shadow);
    text-align: center;
    border-radius: var(--border-radius);
    margin: 4px;
}
