:root {
    --border-radius: 8px;
    --material-shadow-wide: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
body {
    font-family: 'Quicksand', sans-serif;
    color: var(--main-color);
    font-size: 13px;
    font-weight: 500;
}
.primary {
    background: var(--primary);
}
.secondary {
    background: var(--secondary);
}
.success {
    background: var(--success);
}
.info {
    background: var(--info);
}
.warning {
    background: var(--warning);
}
.help {
    background: var(--help);
}
.danger {
    background: var(--danger);
}
