.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
